#sentences {
    overflow: auto;
    height: 200px;
    width: 100%;
}

#list_sentences {
    padding: 0px;
}

.autocomp_box {
    overflow-y: scroll;
    position: absolute;
    z-index: 9;
    background-color: white;
    width: 200px;
    height: 100px;
}

.autocomp_box li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.autocomp-items:hover {
    background-color:lightgrey;
}

.w3-display-container {
    display: flex;
    margin: 10px;
    position: relative;
}

select {
    margin-left: 10px;
    margin-right: 10px;
}