#tooltip {
    position: absolute;
    top: 300px;
    right: 0px;
    bottom: 0px;
    left: 1400px;
    visibility: hidden;
    width: 360px;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }
